@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto";
    color: aliceblue;
}

h1,
h2,
h3,
h4,
nav {
    font-family: "Ruda", cursive;
}

.text-color-own-green {
    color: #a7d129;
}

/* li {
  padding: 1rem;
} */
